<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ada Observability</title>
  </head>
  <body>

    <header>
        <h1>{{ titulo }}</h1>  <!-- título que está no arquivo app.py, definido na função renda_fixa() -->
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Nome | </th>
                    <th>Ação | </th>
                    <th>Valor </th>
                </tr>
            </thead>
        </table>
    </main>

    <footer>
        <p>Gabriela Sales - 2023</p>
        <p>Curso: DevOps</p>
        <p>Módulo: Observability</p>
    </footer>

  </body>
</html>