<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Observability</title>
    <style>
        * {
        	margin: 0;
            padding: 0;
            border: 0;
        }

    </style>
</head>
<body>

    <header>
        <h1>{{ titulo }}</h1>  <!-- título que está no arquivo app.py, definido na função renda_fixa() -->
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Nome | </th>
                    <th>Ação | </th>
                    <th>Valor </th>
                </tr>
            </thead>
        </table>
    </main>

    <footer>
        <p>Gabriela Sales - 2023 | Curso: DevOps | Módulo: Observability</p>
    </footer>

</body>
</html>